<body>
    <form method="POST" action="/getdata">
        <div class="container">
            <div class="row">
                <div class="col col-sm-3">

                </div>
                <table bgcolor="#85C1E9 ">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="getname"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" name="address"></td>
                    </tr>
                    <tr>
                        <td>place</td>
                        <td><input type="text" name="place"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit">login</button></td>
                    </tr>

                </table>
                <div class="col col-sm-3">

                </div>
            </div>
        </div>

    </form>
</body>