 <div class="container-fluid">
     <h3>hello {{name}}</h3>
        <div class="row">
            <div class="col col-md-6-col-sm-12" style="background-color:#AEB6BF  ">
                 <h2>first column</h2>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit iste esse eveniet sint ullam, similique, aliquam soluta
                at saepe laudantium itaque cumque quibusdam dolorum, quisquam enim consectetur eum corporis atque!


            </div>
            <div class="col col-md-6-col-sm-12" style="background-color:#B2BABB">
                <h2>second column</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minima perferendis praesentium deleniti dolorem incidunt
                nisi id, accusamus obcaecati, quaerat porro distinctio, vel officiis laborum similique necessitatibus repudiandae
                suscipit doloribus.



            </div>


        </div>


    </div>